*,
*::before,
*::after {
	box-sizing: border-box;
	font-weight: 300;
}

body,
.main-container,
.screen,
.button-container {
	display: flex;
	flex-direction: column;
}

body {
	align-items: center;
	gap: 5rem;
	background-color: #202020;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1.5rem;
}

h1 {
	color: #f44b12;
	font-size: 2rem;
}

.main-container,
.screen-container {
	gap: 1rem;
}

.main-container {
	padding: 1rem;
	gap: 1rem;
	border-radius: 16px;
}

.screen-container,
.button-row {
	display: flex;
	flex-direction: row;
}

.screen {
  padding-right: 2rem;
	text-align: right;
}

.screen,
.button-row,
.btn {
	flex: 1 1 0;
	border: none;
	color: #eee;
}

.screen-top {
	color: #777;
}

.screen-bottom {
	font-size: 3rem;
}

#equals {
	max-width: 6rem;
}

.button-container {
	width: 25rem;
	height: 25rem;
}

.button-row,
.btn {
	background-color: inherit;
	font-family: inherit;
	font-size: inherit;
}

.btn.btn-coloured {
	color: #f44b12;
}

.btn {
	margin: 8px 0 0 8px;
	border-radius: 16px;
	background-color: #303030;
}

.btn:hover {
	cursor: pointer;
}

.btn:active {
	background-color: #082032;
}

.btn:disabled {
	background-color: #0820325f;
	color: #909090;
}
