*,
*::before,
*::after {
	box-sizing: border-box;
	font-weight: 300;
}

body,
.main-container,
.screen,
.button-container {
	display: flex;
	flex-direction: column;
}

body {
	align-items: center;
	gap: 5rem;
	background-color: #202020;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1.5rem;
}

h1 {
	color: #f44b12;
	font-size: 2rem;
}

.main-container {
	gap: 1rem;
}

.screen-container,
.button-row {
	display: flex;
	flex-direction: row;
}

.screen-container,
.button-container {
	width: 25rem;
}

.screen {
	width: inherit;
	text-align: right;
}

.screen,
.button-row,
.btn {
	flex: 1 1 0;
	border: none;
	color: #eee;
}

.screen-top,
.screen-bottom {
	padding-right: 2rem;
	width: inherit;
}

.screen-top {
	color: #999;
}

.screen-bottom {
	font-size: 3rem;
}

.button-container {
	height: 25rem;
}

.button-row,
.btn {
	background-color: inherit;
	font-family: inherit;
	font-size: inherit;
}

.btn {
	margin: 8px 0 0 8px;
	border-radius: 16px;
	border: 1px solid hsla(0, 0%, 47%, 0.5);
}

.btn.btn-coloured {
	color: #f44b12;
	border: 1px solid hsla(15, 91%, 51%, 0.5);
}

.btn:hover {
	cursor: pointer;
}

.btn:active {
	background-color: hsla(0, 0%, 0%, 0.2);
}

.btn:disabled {
	opacity: 50%;
	border: none;
	cursor: default;
}

#equals {
	flex-basis: 28%;
}

.footer {
	font-size: 1rem;
}

.footer > a {
	color: #eee;
}
